* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR CSS FILE */

body {
    background-color: #F9FBFD;

}
.brand{
    display: flex;
    align-items: center;
    color: #F9FBFD;
    font-weight: bold;
    font-size: 1.75rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;

}
header {
    display: flex;
    background-color: #0078BF;
    padding: 1.25rem 1.5rem;
    border-bottom: 4px solid #0b2d5b;
    align-items: center;
    gap: 10em;
    justify-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    position: sticky;
    justify-content: space-between;

}
nav ul {
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav ul li {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
}
.navbox {
    text-decoration: none;
    color: #F9FBFD;
}
.search {
    background-color: #F9FBFD;
    padding: 10px 80px;
    border-radius: 20px;
    border-bottom: #0b2d5b;
    border-right: #0b2d5b;
    box-shadow: 6px 5px 1px 1px #0b2d5b;
    transition: all 0.1s ease;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;

}
.search:hover {
    box-shadow: none;
    transform: translate(4px, 2px);
    border: 2px solid #0b2d5b;

}
.navbox1 {
    text-decoration: none;
    color: #0b2d5b;
    font-weight: bold;
}


/* page starts  */

.page1-container1 {
    display: flex;
    flex-direction: column;
    background-color: #d2e7f3;
    height: 38vh;
    width: 100vw;

}
.pbox1 {
    padding-top: 7vh;
    padding-left: 15vh;
    font-family: sans-serif;
    color: #363636;
    font-size: 17px;
}
.link {
    text-decoration: none;
    color: #0078BF;
    
}
.pbox2 {
    padding-top: 4vh;
    padding-left: 15vh;
    color: #363636;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 48px;
}
.pbox3 {
    padding-top: 2vh;
    padding-left: 15vh;
    font-family: sans-serif;
    font-size: 20px;
    color: #514f4f;
    line-height: 35px;
}

